#root,
#rtc-embed,
body,
html {
  height: 100%;
}

* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  background: 0 0;
}

.admin-glow {
  color: #b23c17 !important;
  animation-name: admin-glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes admin-glow {
  from {
    text-shadow: 0 0 5px #b23c17, 0 0 5px #b71c1c;
  }

  to {
    text-shadow: 0 0 20px #b23c17, 0 0 20px #b71c1c;
  }
}

.mod-glow {
  color: #00e5ff !important;
  animation-name: mod-glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes mod-glow {
  from {
    text-shadow: 0 0 5px #00e5ff, 0 0 5px #33eaff;
  }

  to {
    text-shadow: 0 0 20px #00e5ff, 0 0 20px #33eaff;
  }
}

.neon-text {
  color: #ff9100;
  text-shadow: 0 0 10px #ff9100, 0 0 20px #ff9100;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper-comment:hover .wrapper-overlay {
  visibility: visible;
}

.emote {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  border-radius: 0;
  position: relative;
  top: 8.5px;
}

.full-height {
  height: 100% !important;
}

#rtc-embed {
  width: 100%;
  border: none;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #ff9100 transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: 0 0;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #ff9100;
  border-radius: 10px;
}

.scrollbar-custom-secondary::-webkit-scrollbar {
  height: 5px;
  width: 0px;
}

.santa-hat:before {
  content: url("../images/santa-hat.png");
  position: absolute;
  z-index: 1;
  left: -3px;
}

.santa-hat-primary {
  position: relative;
}

.santa-hat-primary:before {
  content: url("../images/santa-hat-big.png");
  position: absolute;
  z-index: 1;
  top: -12.5px;
  left: -5.5px;
}

@keyframes diagonalRainbow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}

.rainbow-background {
  background: linear-gradient(
    135deg,
    #e91e63,
    /* Pink 500 */ #9c27b0,
    /* Purple 500 */ #7e57c2,
    /* Deep Purple 400 */ #3f51b5,
    /* Indigo 500 */ #2196f3,
    /* Blue 500 */ #03a9f4,
    /* Light Blue 500 */ #00bcd4,
    /* Cyan 400 */ #009688,
    /* Teal 500 */ #4caf50,
    /* Green 500 */ #cddc39,
    /* Lime 500 */ #ffc107,
    /* Amber 500 */ #ff5722,
    /* Orange 500 */ #f44336 /* Red 500 */
  );
  background-size: 200% 200%; /* Ensures the animation loops seamlessly */
  animation: diagonalRainbow 3s linear infinite; /* Slower and seamless animation */
}

.rainbow-background::before {
  background-color: rgba(0, 0, 0, 0.2); /* Slightly darken the background */
}
