#root,
#rtc-embed,
body,
html {
  height: 100%;
}

* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  background: 0 0;
}

.admin-glow {
  color: #b23c17 !important;
  animation-name: admin-glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes admin-glow {
  from {
    text-shadow: 0 0 5px #b23c17, 0 0 5px #b71c1c;
  }

  to {
    text-shadow: 0 0 20px #b23c17, 0 0 20px #b71c1c;
  }
}

.mod-glow {
  color: #00e5ff !important;
  animation-name: mod-glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes mod-glow {
  from {
    text-shadow: 0 0 5px #00e5ff, 0 0 5px #33eaff;
  }

  to {
    text-shadow: 0 0 20px #00e5ff, 0 0 20px #33eaff;
  }
}

.neon-text {
  color: #ff9100;
  text-shadow: 0 0 10px #ff9100, 0 0 20px #ff9100;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper-comment:hover .wrapper-overlay {
  visibility: visible;
}

.emote {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  border-radius: 0;
  position: relative;
  top: 8.5px;
}

.full-height {
  height: 100% !important;
}

#rtc-embed {
  width: 100%;
  border: none;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #ff9100 transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: 0 0;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #ff9100;
  border-radius: 10px;
}

.scrollbar-custom-secondary::-webkit-scrollbar {
  height: 5px;
  width: 0px;
}

.santa-hat:before {
  content: url("../images/santa-hat.png");
  position: absolute;
  z-index: 1;
  left: -3px;
}

.halloween-hat:before {
  content: url("../images/halloween-hat.png");
  position: absolute;
  z-index: 1;
  left: -3px;
}

.santa-hat-primary {
  position: relative;
}

.santa-hat-primary:before {
  content: url("../images/santa-hat-big.png");
  position: absolute;
  z-index: 1;
  top: -12.5px;
  left: -5.5px;
}

.halloween-hat-primary {
  position: relative;
}

.halloween-hat-primary:before {
  content: url("../images/halloween-hat-big.png");
  position: absolute;
  z-index: 1;
  top: -12.5px;
  left: -10.5px;
}

.animated-background {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 1rem,
    #212121 1rem,
    #212121 2rem,
    #009688 2rem,
    #009688 3rem
  );
  /* Set a fixed background size based on the stripe width */
  background-size: 8.485rem 8.485rem; /* 6rem * √2 to account for 45° angle */
  animation: barberpole 4s linear infinite;
}

@keyframes barberpole {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 8.485rem 8.485rem; /* Match background-size */
  }
}

.golden-glow {
  color: #ffca28 !important;
  animation-name: golden-glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes golden-glow {
  from {
    text-shadow: 0 0 5px #ffca28, 0 0 5px #ffb300;
  }

  to {
    text-shadow: 0 0 20px #ffca28, 0 0 20px #ffb300;
  }
}
