#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #263238;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-spinner-cont {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    box-sizing: inherit;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loading-spinner {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-align: center;
    box-sizing: inherit;
    display: inline-block;
    color: #ff9100;
    animation: animation-p 1.4s linear infinite;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

.loading-spinner svg {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-align: center;
    color: #ff9100;
    box-sizing: inherit;
    display: block;
}

.loading-spinner svg circle {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-align: center;
    color: #ff9100;
    fill: none;
    stroke-width: 3.6;
    box-sizing: inherit;
    stroke: currentColor;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0;
    animation: animation-s 1.4s ease-in-out infinite;
}

.text-p {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: center;
    box-sizing: inherit;
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.08333em;
    text-transform: uppercase;
    display: block;
    color: #ff9800;
    line-height: 1.5;
    font-weight: bold;
}

.text-s {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: center;
    box-sizing: inherit;
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    display: block;
    color: #ff9800;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

@keyframes animation-p {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animation-s {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }

    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px;
    }
}